html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Protest Strike', sans-serif;
    text-align: center;
}

h1 {
    color: blue;
}

.header {
    background-color: burlywood;
    padding-bottom: 10px;
}