html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Protest Strike', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(0, 1, 44);
    margin-top: 0;
}

.header {
    background: rgb(113,113,113);
    background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(122,233,255,1) 100%); 
    padding-bottom: 10px;
}